/*body,
html {
    /*background: url(../img/hunter-background.png) no-repeat center center;*/
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}*/
