body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Crete Round","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

html,
body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

/* Home */

.intro-header {
    padding-top: 100px; 
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
}

#logo {
    max-width: 100%;
    height: auto;
}

.vp {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 55%;    
    padding-top: 0%;
    padding-bottom: 5%;
}

#vp-text {
    font-size: 10px;
    margin: 0;
    padding: 2px 2px;
    color: #861001;
    background: rgba(255, 255, 255, 1);
}

#cta-1 {
	margin: 24px auto;
	text-align:center;
	padding:12px 24px 8px 24px;
	background: #861001;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	line-height:24px;

	small {
		display: block;
		font-size: 8px;
		line-height: 24px;
	}
}

#cta-1:hover{
	text-decoration: none;
	background: #ffffff;
	color: #861001;
}

/* Navbar */

.navbar-default {
    position:absolute;
    top:0;
    left:0;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    border: 0;
}

.navbar-default .navbar-toggle {
    padding-top: 60px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #861001;
}

.navbar-default .navbar-nav > li > a {
    font-size: 20px;
    color: #861001;    
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: #861001;}
.collapsing ul li a, .in ul li a {text-align: center;}
.collapsing ul li a, .in ul li a {padding-bottom: 60px;}
.collapsing ul li a, .in ul li a {color: #fff!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: #000!important;}
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    font-size: 20px;
    color: #002452;
}

.navbar-right {
    padding-top: 60px;
}

.home-img {
    max-height: 100px;
    max-width: 70%;
    position: fixed;
    left: 5%;
}

/* Footer */

footer {
    position:absolute;
    bottom:0;
    left:0;
    height: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 1);    
}

p.copyright {
    color: #861001;
    position: absolute;    
    right: 5%;
}

/* About */

.about {
    padding-top: 100px; 
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.ab {
    position: relative;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
    padding-top: 0%;
    padding-bottom: 5%;
}

#about-text {
    text-align: left;
    text-align: justify;
    padding: 3px 10px;
    font-size: 20px;
    margin: 0;
    color: #fff;
    background-color: #861001;
}

/* Content */

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    color: #861001;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

/* Download */

.value-proposition {
    padding-top: 110px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    background: url(../img/hunter-background.png) no-repeat center center;
    background-size: cover;
}

.value-proposition h1 {
    font-size: 45px;
    color: #861001;
}

.intro-divider {
    max-width: 100%;
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dl {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 0%;
    padding-bottom: 5%;
}

#dl-text {
    font-size: 30px;
    margin: 0;
    padding: 2px 2px;
}

code {
    color: #861001;
    font-size: 95%;
}

.dl > p > small {
	display: block;
	font-size: 15px;
	line-height: 24px;
}

.dl > p > small > a {
    color: #002452;
}

/*.subscribe {
    background-color: #861001;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}



.mailchimp {
    background: rgba(255, 255, 255, 0.6);;
    color: #000;
    width: 50%;
    margin: 0 auto;
}

.email {
    position: relative;
    font: 14px Helvetica,Arial,sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    display: inline-block;
    width: 90%;
}
.button {
    margin: 10px auto;
    text-align: center;
    padding: 12px 24px 8px 24px;
    background: #861001;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height:20px;
    border: 0;
}

.button:hover{
    text-decoration: none;
    background: #ffffff;
    color: #861001;
}





.pitch {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 0%;
    padding-bottom: 5%;
}

#pitch-text {
    font-size: 20px;
    text-align: center;
    text-align: justify;
    margin: 0;
    padding: 2px 2px;
    color: #861001;
    background: rgba(255, 255, 255, 1);
}

#subscribe-pitch-text {
    font-size: 20px;
    text-align: center;
    text-align: justify;
    margin: 0;
    padding: 2px 2px;
    color: #fff;
}

.hunter-demo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 0%;
    padding-bottom: 5%;
}

#hunter-demo {
    max-width: 100%;
    height: auto;
    border:1px solid #021a40;
}*/

/* API doc */

.api     {
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    color: #861001;
}

.comingsoon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;    
    padding-top: 0%;
    padding-bottom: 5%;
}

#comingsoon {
    font-size: 20px;
    margin: 0;
    padding: 2px 2px;
    background: rgba(255, 255, 255, 0.6);
}