/***********/
/* General */
/***********/

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Crete Round","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

html,
body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
#wrapper {
    min-height:100%;
    position:relative;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

/**********/
/* Navbar */
/**********/

.home-img {
    max-height: 50px;
    position: fixed;
    left: 5%;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    font-size: 20px;
    color: #861001;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #861001;
}

@media only screen and (max-width: 766px) {
.collapsing ul li a, .in ul li a {text-align: center;}
}

/**********/
/* Footer */
/**********/

footer {
    position:absolute;
    bottom:0;
    left:0;
    padding-top: 10px;
    height: 75px;
    width: 100%;
    background-color: #fff;   
    color: #861001;
}

.list-inline > li > a {
    color: #861001;
}

.list-unstyled > li >a {
    color: #002452;
}

p.copyright {
    color: #861001;
    text-align: center;
}

/********/
/* Home */
/********/

.value-proposition {
    padding-top: 110px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    background: url(../img/alt-hunter-background.jpg) no-repeat center center;
    background-size: cover;
}

.value-proposition h1 {
    font-size: 40px;
    color: #fff;
}

.intro-divider {
    max-width: 100%;
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

#cta-1 {
	text-align:center;
	padding:12px 24px 8px 24px;
	background: #861001;
	color: #fff;
	display: inline-block;
	font-size: 24px;
	line-height:24px;

	small {
		display: block;
		font-size: 8px;
		line-height: 24px;
	}
}

#cta-1:hover{
	text-decoration: none;
	background: #fff;
	color: #861001;
}

/***********/
/* Content */
/***********/

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
    color: #861001;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

/************/
/* Download */
/************/

.download {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
}

.dl {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 0%;
    padding-bottom: 5%;
}

#dl-text {
    font-size: 30px;
    margin: 0;
    padding: 2px 2px;
}

#dl-text > code {
    color: #fff;
    background-color: #861001;
    font-size: 95%;
}

.dl > p > small {
    color: #861001;
	display: block;
	font-size: 15px;
	line-height: 24px;
}

.dl > p > small > a {
    color: #002452;
}

/*********/
/* About */
/*********/

.about {
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;
    background: url(../img/about-background.jpg) no-repeat center center;
    background-size: cover;
}

.ab {
    text-align: left;
    text-align: justify;
    padding: 3px 10px;
    font-size: 20px;
    margin: 0;
    color: #861001;
}

.white-box {
    height: 15px;
    background-color: #fff;
}

/***********/
/* API doc */
/***********/

.api {
    padding-top: 200px;
    padding-bottom: 50px;
    text-align: center;
    color: #861001;
}

.comingsoon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 30%;    
    padding-top: 0%;
    padding-bottom: 5%;
}

#comingsoon {
    font-size: 20px;
    margin: 0;
    padding: 2px 2px;
    background: rgba(255, 255, 255, 0.6);
}

/***********/
/* Mailing */
/***********/

.mailing {
    padding-top: 25px;
    padding-bottom: 75px;
    text-align: center;
    color: #fff;
    background: url(../img/mailing-background.jpg) no-repeat center center;
    background-size: cover;
}

.mailchimp {
    color: #000;
    width: 50%;
    margin: 0 auto;
}

.email {
    position: relative;
    font: 14px Helvetica,Arial,sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    display: inline-block;
    width: 90%;
}

.button {
    margin: 10px auto;
    text-align: center;
    padding: 12px 24px 8px 24px;
    background: #861001;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    line-height:20px;
    border: 0;
}

.button:hover{
    text-decoration: none;
    background: #ffffff;
    color: #861001;
}

/*******/
/* 404 */
/*******/

.not-found {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;
    background: url(../img/not-found-background.jpg) no-repeat center;
    background-size: cover;
}

#logo-404 {
    max-width: 100%;
    height: auto;
}