<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="ab">
                    <div id="about-text"><p>In a world where there are more and more data publishers and data users, the research of those data is still a pain.
Our aim with Hunter is to help publishers seeing their data reused and to help data users to find them quicker than ever and to handle them easily.
</br></br>
We believe that pre-processing data is a bad idea and that hosting them could create problems for data users. We just want to show you the way to the data you want as faster as possible!
</br></br>
We are two french Open Data enthusiast, exploring the new ways to consume data for a few years. We’ve blog about data for a certain time and now it’s time to action!
</br></br>
Hunter is, and will remain free - as in free beer - for its common usage.</p></div>
                </div>           
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>