<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/download">Download</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/apidoc">API doc</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="https://github.com/NTerpo/datahunter" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                Team:
                <ul class="list-unstyled">
                  <li>
                      <a href="https://twitter.com/NTerpo" target="_blank">Nicolas Terpolilli</a>
                  </li>
                  <li>
                      <a href="https://twitter.com/JTrichot" target="_blank">Jean-Baptiste Trichot</a>
                  </li>
                </ul>
            </div>
            <div class="col-md-12">
                <p class="copyright text-muted small">Copyright &copy; 2015 Nicolas Terpolilli</p>
            </div>
        </div>
    </div>
</footer>
