<!-- Home -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="logo">
                    <img id="logo" src="../img/logo.png">
                </div>  
                <div class="vp">
                    <div id="vp-text"><h1>Find and download </br> Open Data </br> directly from your terminal</h1></div>
                </div>
    			<a id="cta-1" href="/download">
    				Try Hunter</br>
    				<small>for free</small>
    			</a>             
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->