<!-- Home -->
<div class="intro-header">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="logo">
                    <img src="../img/logo.png">
                </div>              
                <div class="intro-message">
                    <h1>Find and download </br> Open Data </br> directly from your terminal</h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
