<div class="value-proposition">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="vp-message">
                    <h1>Find and download data </br> from your terminal</h1>
                    <h3>Hunter allows you to find and download open datasets quickly and easily from your terminal.
                        We work hard to index and sort the most useful datasets available for you!</h3>
                    <hr class="intro-divider"> 
                </div>
                <div class="dl">
                    <p id="dl-text">
                        <code>$ gem install datahunter</code></br>
                        <small>you'll need <a href="https://rubygems.org/pages/download" target="_blank">Rubygem installed</a></small>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->